//Popins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

$popins: "Poppins", sans-serif;

body {
  font-family: $popins;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $popins;
  font-weight: 400;
}

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}
.navbar {
  padding: 2rem 2rem;
}
.card {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.13);
}
.col-lg-4,.col-lg-3 {
  padding:20px;
}
.card-title {
  font-weight: 700;
}
.card-cat, .card-date {
  font-weight: 400;
  color:#afafaf;
}
.card-cat {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.post-link {
  letter-spacing: 3px;
  font-weight: 700;
  color:#006adc;
}
.mgray {
  background-color: #e8ecef;
}
.sec-title {
  font-weight: 700;
  font-size:20px;
  padding-bottom: 1rem;
}

.ftitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}
.ftext {
  padding-top:1rem;
}
.pre-footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.flink a{
color:#7d7d7d;
}
.gray {
  padding-top:2rem;
  padding-bottom:1rem;
  background-color: #353a40;
}
.gray p {
  color:#afafaf;
}