//Popins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

$popins: "Poppins", sans-serif;
$blueish: #4c60d9;

h1,
h2,
h3,
h4,
h5,
h6,
body,
p {
  font-family: $popins;
  font-weight: 400;
}
p {
  color: #737373;
}
a {
  color: $blueish;
}
.ml-auto {
  .dropdown-menu {
    left: auto !important;
    right: 0px;
  }
}
.navbar {
  padding: 2rem 2rem;
}
.card {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.13);
}
.col-lg-4,
.col-lg-3 {
  padding: 20px;
}
.card-title {
  font-weight: 700;
}
.card-cat,
.card-date {
  font-weight: 400;
  color: #afafaf;
}
.card-cat {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.post-link {
  letter-spacing: 3px;
  font-weight: 700;
}
.mgray {
  background-color: #e8ecef;
}
.sec-title {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.ftitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}
.ftext {
  padding-top: 1rem;
}
.pre-footer,
.formcont,
.blogqu {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.flink {
  a {
    color: #7d7d7d;
    &:hover {
      color: $blueish;
    }
  }
}
.gray {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #353a40;
  p {
    color: #afafaf;
  }
}
label {
  color: #afafaf;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-success {
  color: $blueish;
  background-color: transparent;
  border-color: $blueish;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  margin-top: 1rem;
  &:hover,
  &:active,
  &:focus,
  &:not(:disabled):not(.disabled):active {
    color: #fff;
    box-shadow: none;
    background-color: $blueish;
    border-color: $blueish;
  }
}
.lgray {
  background-color: #f8f9fb;
}
.wp-block-assessment-header {
  position: relative;
  padding: 14em 0;
  text-align: center;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
  .content {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    font-weight: 700;
  }
}
.colorselect {
  p {
    padding: 16px;
    font-weight: 500;
  }
  .components-button {
    &.is-small {
      margin-right: 20px;
    }
  }
}
.imgselect {
  margin: 16px;
}
.full-w {
  padding: 0;
}
.btn-primary {
  background-color: $blueish;
}
.navbar-light {
  .navbar-nav {
    .nav-link {
      font-weight: 600;
    }
  }
}
